@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Lobster';
    src: url('public/assets/fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    color:  #cd1c18;
    font-family: "Lobster", sans-serif;
    font-size: clamp(1.3rem, 5vw, 2.5rem);

}
.start-button {
    margin-top: 50px;
    border-width: 5px;
    border-radius: 30px;
    color: #2e6f40;
    border-color: #cd1c18;
    transition: transform 0.2s ease-in-out;
    font-size: 1.3rem;

}
.start-button:hover{
    border-color: #2e6f40;
    color: #cd1c18;
    transform: scale(1.05);
}

@media (min-width: 640px) {
    .start-button {
        font-size: 1.8rem;
        border-radius: 35px;
    }
}

@media (min-width: 1024px) {
    .start-button {
        font-size: 2rem;
        border-radius: 40px;
    }
}

.h-screen-custom2{
    height: 95vh;
}
@media (min-width: 1024px) {
    .h-screen-custom2 {
        height:94vh;
    }
}
